@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;

  --clr-primary: rgb(248, 96, 26);
  --clr-secondary: white;
  --clr-accent: rgb(252, 69, 99);
  --clr-font-primary: rgb(248, 96, 26);
  --clr-font-secondary: white;
  --clr-shadow: black;

  --overlay-black09: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  --overlay-black08: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  --overlay-black07: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  --overlay-black06: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  --overlay-black05: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --overlay-black04: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  --overlay-black03: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  --overlay-black02: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  --overlay-black01: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  --overlay-white075: linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)
  );

  --padding-page: 2em;
  --padding-div: 1em 0 1em 0;
  --padding-btn: 1em;
  --padding-input: 0.5em;

  --margin-div: 1em 0 1em 0;
  --margin-input: 0.5em 0 0.5em 0;
  --margin-input-side: 0 0.3em 0 0.3em;

  --transition02: all 0.2s linear;
  --transition01: all 0.1s linear;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--overlay-white075),
    url("./assets/images/homepage_bg.jpg") center/cover no-repeat;
  /* background-attachment: fixed; */
  font-family: var(--font-primary);
  color: var(--clr-font-primary);
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1080px) {
  body {
    font-size: 1rem;
    background-attachment: fixed;
  }
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.height-100 {
  min-height: 100vh;
}
.height-90 {
  min-height: 90vh;
}
.height-80 {
  min-height: 80vh;
}
button {
  cursor: pointer;
  font-size: 1.4em;
}
/* buttons */
.btn-container {
  position: relative;
  width: 100%;
  margin: var(--margin-div);
  padding-bottom: 6em;
}
.primary-btn {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 10em;
  border: 0.1rem solid var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-font-secondary);
  padding: 0.5em;
  border-radius: 1em;
  transition: var(--transition02);

  font-size: 2em;
}
.primary-btn:hover {
  transform: translate(-50%, -9px);
  box-shadow: 0 9px 0rem 0rem var(--clr-shadow);
  border: 0.1rem solid var(--clr-shadow);
}
/****************** HOME PAGE ************************/
#home-page {
  flex-direction: column;
  padding: var(--padding-page);
  max-width: 450px;
  margin: auto;
}
#home-page h1,
h2 {
  text-align: center;
  margin: var(--margin-div);
  line-height: 1.5em;
  letter-spacing: 0.11em;
}
.logo-container {
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: var(--margin-div);
}
.logo-container img {
  width: 50%;
  max-width: 200px;
}
#friendzi-title {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-accent);
  letter-spacing: 0.6rem;
}
#friendzi-title::after {
  content: "\00ae";
  position: absolute;
  top: -0.2em;
  right: -0.7em;
}
#login-span {
  display: inline-block;
  cursor: pointer;
  color: var(--clr-accent);
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  #home-page {
    max-width: 590px;
  }
  #friendzi-title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1080px) {
  #home-page {
    max-width: 750px;
  }
  #friendzi-title {
    font-size: 3rem;
  }
}
/* END OF HOME PAGE */

/************************ AUTHENTICATION PAGE **********************/
#auth-page {
  position: relative;
  flex-direction: column;
  background: var(--clr-font-secondary);
}
#register-form {
  flex-direction: column;
  max-width: 450px;
}
.input-box {
  position: relative;
  margin: var(--margin-input);
}
#register-form input {
  transition: var(--transition01);
  outline: none;
  border-radius: 1em;
  width: 300px;
  border: 0.15rem solid black;
}
#register-form input:hover,
#register-form input:active,
#register-form input:focus {
  border: 0.15rem solid var(--clr-primary);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 3em white inset !important;
}
.input-span,
#register-form input {
  font-size: 1.3em;
  height: 3em;
  padding: var(--padding-input);
  margin: var(--margin-input);
}
.input-span {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  border: 0.15rem solid transparent;
  transition: transform 0.2s linear;
}

.input-box input:focus ~ .input-span,
.input-box input:valid ~ .input-span {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
  font-size: 1em;
  color: var(--clr-font-secondary);
  background-color: var(--clr-primary);
  border-radius: 0.5em;
  height: auto;
  transform: translate(1em, -50%);
}

@media screen and (min-width: 768px) {
  #register-form input {
    width: 350px;
  }
}

/* ONBOARDING PAGE */
#onboarding-page {
  flex-direction: column;
  background-color: var(--clr-secondary);
}
#onboarding-form {
  flex-direction: column;
  max-width: 450px;
}
#onboarding-form input {
  transition: var(--transition01);
  outline: none;
  border-radius: 1em;
  width: 300px;
  border: 0.15rem solid black;
}
#onboarding-form input:hover,
#onboarding-form input:active,
#onboarding-form input:focus {
  border: 0.15rem solid var(--clr-primary);
}
#onboarding-form input {
  font-size: 1.3em;
  height: 3em;
  padding: var(--padding-input);
  margin: var(--margin-input);
}
#onboarding-form .dob-input {
  width: 4em;
  height: 3em;
  margin: var(--margin-input-side);
  text-align: center;
}
label {
  font-size: 1.3em;
  height: 3em;
  padding: var(--padding-input);
}
.checkbox-container * {
  flex-direction: column;
}
#onboarding-form input[type="checkbox"] {
  accent-color: var(--clr-primary);
  margin: var(--margin-input-side);
  height: 2em;
  width: 2em;
}
#onboarding-form input[type="checkbox"]:hover {
  cursor: pointer;
}
#status-opt {
  flex-direction: row;
  margin: var(--margin-input);
  padding: var(--padding-input);
  font-size: 1.3em;
  cursor: pointer;
  border: 0.15rem solid black;
}
#status-opt:hover {
  color: var(--clr-primary);
}
#status-opt:focus {
  color: black;
}
.profile-img-container {
  position: relative;
  width: 125px;
  height: 125px;
  border: 0.15rem solid black;
  border-radius: 100%;
}
.profile-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.upload-img-btn {
  position: absolute;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}
.upload-img-btn svg {
  border-radius: 100%;
  border: 0.15rem solid var(--clr-accent);
  font-size: 2rem;
  padding: 0.1em;
  background-color: var(--clr-accent);
  color: var(--clr-font-secondary);
}
/* DASHBOARD PAGE */
